nav {
  align-items: center;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  
  button {
    background: transparent;
    border: 2px solid rgb(65, 65, 65);
    cursor: pointer;
    padding: 0.5rem;
    transition: all 0.3s ease;
    z-index: 10;

    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }

  .library-active {
    background: rgb(65, 65, 65);
    color: white;
  }
}

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    justify-content: space-around;
    min-height: 10vh;
    position: relative;
    width: 100%;
    button {
      padding: 0.5rem;
      z-index: 10;
    }
  }
}
