//* This is called a partial: "_[componentname].scss". It's a way to include a portion of a file in another file.

.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img{
        width: 20%;
        border-radius: 50%;
    }

    h2 {
        padding: 3rem 1rem 1rem 1rem;
    }

    h3 {
        font-size: 1rem;
    }
}