//* This is called a partial: "_[componentname].scss". It's a way to include a portion of a file in another file.

.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}